<% provide(:title, "Welcome") %>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1>Welcome to <%= Rails.configuration.app_name %></h1>
    </div>
    <p>Congratulations, and welcome to <%= Rails.configuration.app_name %>! The last step is to confirm your email address.</p>

    <p>We've sent a confirmation email to <strong class="email"><%= session[:data_email] || 'your email' %></strong>. Please follow the link in that email to confirm your email address and then you'll be able to sign in to your new account.</p>

    <p>If you haven't received the email in five minutes, please check the following:</p>

    <ul>
      <li>Check if you have used the correct email.</li>
      <li>Check your spam folder.</li>
      <li>Contact us at <a href="mailto: fishkareports@gmail.com">support email</a>.</li>
      <li> <a href="mailto: fishkareports@gmail.com">support email</a>.</li>
    </ul>

    <hr>
    <%= form_tag send_activation_email_again_path, remote: true do %>
      <%= submit_tag 'Send me it again', class: 'btn btn-info' %>
    <% end if session[:data_email] %>
  </div>
</div>
