<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1 class="text-center"><%= t('.welcome_to', app_name: Rails.configuration.app_name) %></h1>
    </div>
    <p><%= t('.congratulations_and_welcome', app_name: Rails.configuration.app_name) %></p>

    <p>
      <%= t('.we_send_confirmation_mail_to') %> <strong class="email">
      <%= session[:data_email] || t('.your_email') %></strong>. <%= t('.please_follow_the_link') %>
    </p>

    <p><%= t('.if_you_havent_received') %></p>

    <ul>
      <li><%= t('.check_correct_email') %></li>
      <li><%= t('.check_your_spam_folder') %></li>
      <li><%= t('.contact_us_at_html', email: 'fishkareports@gmail.com') %></li>
    </ul>

    <% if session[:data_email] %>
      <hr>
      <%= button_to t('.send_me_it_again'), activation_email_send_again_path,
                    params: {email: session[:data_email]},
                    remote: true, class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
