<% provide(:page_title, "Update profile") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(@user, html: {class: 'wide-inputs'}) do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password, required: false %>
      <%= f.input :password_confirmation %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">change</a>
    </div>
  </div>
</div>
