<% content_for :aside do %>
  <%= render 'user_info' %>
<% end %>

<% content_for :main_title do %>
  <%= t('user_info.microposts') %> <span class="badge"><%= @user.microposts_count %></span>
<% end %>

<% content_for :main_list do %>
  <% if @microposts.any? %>
    <ul class="list-group microposts">
      <%= render @microposts %>
    </ul>
    <%= will_paginate @microposts, class: 'panel-footer' %>
  <% end %>
<% end %>

<%= render template: 'layouts/two_columns' %>
