<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <%= render 'shared/stats' %>
        </div>
        <% if @users.any? %>
          <div class="panel-footer user_avatars">
            <% @users.each do |user| %>
              <%= link_to gravatar_for(user, size: 30), user %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @title %></h3>
      </div>
      <% if @users.any? %>
        <ul class="list-group">
          <%= render @users %>
        </ul>
        <%= will_paginate class: 'panel-footer' %>
      <% end %>
    </div>
  </div>
</div>
