<% provide(:title, @user.name) %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">
        <%= gravatar_for(@user) %>
      </a>
      <%= link_to @user.name, edit_user_path(@user) %>
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1"><strong class="pull-right">Name:</strong></div>
      <div class="col-xs-9"><%= @user.name %></div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1"><strong class="pull-right">Email:</strong></div>
      <div class="col-xs-9"><%= @user.email %></div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1"><strong class="pull-right">Created:</strong></div>
      <div class="col-xs-9"><%= local_time @user.created_at %></div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-sm-2 col-lg-1"><strong class="pull-right">Updated:</strong></div>
      <div class="col-xs-9"><%= local_time @user.updated_at %></div>
    </div>
  </div>

  <%# microposts %>
  <% if @user.microposts.any? %>
    <div class="panel-heading">
      <h3 class="panel-title">Microposts <span class="badge"><%= @user.microposts.count %></span></h3>
    </div>
    <ul class="list-group microposts">
      <%= render @microposts %>
    </ul>
    <div class="panel-footer">
      <%= will_paginate @microposts %>
    </div>
  <% end %>
</div>
