<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= gravatar_for(@user) %>
      <%= link_to @user.name, @user %>
      <span class='edit-link'><%= link_to "(edit)", edit_user_path(@user) %></span>
    </h3>
  </div>
  <div class="panel-body text-center">
    <div class="row">
      <div class="col-xs-6">
        <span><%= link_to "view my profile", @user %></span>
      </div>
      <div class="col-xs-6">
        <span class="label label-info microposts-count">
          <%= pluralize(@user.microposts_count, "micropost") %>
        </span>
      </div>
    </div>
  </div>
</div>
