<% content_for :aside do %>
  <section class="user_info">
    <%= render 'user_info' %>
  </section>
  <section class="stats">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <%= render 'stats' %>
      </div>
    </div>
  </section>
  <section class="micropost_form">
    <%= render 'micropost_form' %>
  </section>
<% end %>

<%= content_for :main_title do %>
  <%= t(:feed) %> <span class="badge"><%= @feed_items.count %></span>
<% end %>

<% content_for :main_list do %>
  <% if @feed_items.any? %>
    <ul class="list-group microposts">
      <%= render @feed_items %> <%# microposts/_micropost %>
    </ul>
    <%= will_paginate @feed_items, class: 'panel-footer' %>
  <% end %>
<% end %>

<%= render template: 'layouts/two_columns' %>
