<%= simple_form_for @micropost, remote: true do |f| %>
  <%= f.input :content, label: false, autofocus: true %>

  <div class="input-group form-group">
    <label class="input-group-btn">
      <span class="btn btn-info">
        <%= t(:browse) %><%= f.file_field :picture, accept: 'image/*', style: "display: none;" %>
      </span>
    </label>
    <%= text_field_tag :file_name, nil, name: nil,
                        placeholder: t(:add_picture),
                        class: 'form-control', readonly: true %>
    <div class="input-group-btn unselect-picture hidden">
      <button class="btn btn-warning">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
    </div>
  </div>

  <%= f.submit class: "btn btn-success btn-block" %>
<% end %>
