<% @user ||= User.new %>

<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3 class="panel-title text-left">New user ? <span class="text-muted">Sign up</span></h3>
  </div>

  <div class="panel-body">
    <%= simple_form_for @user, url: signup_path, defaults: {label: false}, remote: true do |f| %>
      <%= f.input :name, input_html: {autocorrect: 'off', autocapitalize: 'off'} %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.submit class: "btn btn-warning pull-right" %>
    <% end %>
  </div>
</div>
