<li id="micropost-<%= micropost.id %>" class="list-group-item">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <%= link_to micropost.user.name, micropost.user %>
  <div class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url, alt: 'uuid file name' if micropost.picture? %>
  </div>
  <div class="timestamp small">
    <%= "#{t(:posted)} #{time_ago_in_words(micropost.created_at)} #{t(:ago)}." %>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: t(:you_sure) } %>
    <% end %>
  </div>
</li>
