<% @user ||= current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= gravatar_for(@user) %>
      <%= link_to @user.name, @user %>
      <% if current_user?(@user) %>
        <span class='edit-link'><%= link_to "(#{t(:edit)})", edit_user_path(@user) %></span>
      <% end %>
    </h3>
  </div>

  <div class="panel-body text-center">
    <%= render 'stats' %>
  </div>

  <% if logged_in? %>
    <div class="panel-footer text-center">
      <% if current_user?(@user) %>
        <%= render 'view_profile_link' %>
      <% else %>
        <div id="follow_unfollow">
          <%= render 'follow_unfollow_button' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
